extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
  +alert-success("5000")
  +alert-error("3000")
  
  .card.mb-3
    .card-header Tạo mới học sinh
    .card-body
      form(action="/admin/attendance/create" method="POST")
        .row
          .col-md-6
            .form-group
              label(for="fullName") Họ và tên
              input.form-control(type="text" name="fullName" id="fullName" required)
          .col-md-6
            .form-group
              label(for="student_id") Mã học sinh
              input.form-control(type="text" name="student_id" id="student_id" required)
        .row
          .col-md-6
            .form-group
              label(for="phone") Số điện thoại
              input.form-control(type="text" name="phone" id="phone")
          .col-md-6
            .form-group
              label(for="email") Email
              input.form-control(type="email" name="email" id="email")
        .row
          .col-md-6
            .form-group
              label(for="course_id") Khóa học
              input.form-control(type="text" name="course_id" id="course_id" required)
        .row
          .col-12
            button.btn.btn-primary(type="submit") Tạo mới 